.top-in-group {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom:0px;
}

.middle-in-group {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom:0px;
}

.bottom-in-group {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}


.push-right {
    margin-left: 20px;
}

.donatoren-warning {
    border-color: red;
}

.radiogroup.donatoren-warning {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}